@import'variables';
@import '_header';
@import '_footer';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.box {
	max-width: 1300px;
	padding: 150px 80px 50px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 750px 265px;
	grid-gap: 128px;
}

.title {
	text-transform: $titleTextTransform;
	color: $titleColorMain;
	font-weight: 700;
}

.blog-title {
	margin: 20px 0;
	font-size: 18px;
}

.post-paragraph {
	margin: 0;
	@include paragraphStyle($textFontSize, $listColor);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.blog-link {
	margin-top: 30px;
	margin-bottom: 100px;
	font-size: $textFontSize;
}

.blog-link::after {
	content: '\2192';
	margin-left: 5px;
	color:  $titleColorMain;
}

.link {
	text-decoration: none;
}

.post-wrapper {
	width: 35%;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog-date {
	padding: 10px 15px;
	box-sizing: border-box;
	background-color: $buttonBackgroundColorMain;
	text-transform: $titleTextTransform;
	@include paragraphStyle($textFontSize, $buttonColorMain);
    font-weight: 700;
}

.counter {
	margin: 0;
	@include paragraphStyle($textFontSize, #cccccc);
}

.comments-counter::before {
	content: url(../icons/page3/comments.png);
	margin-right: 10px;
}

.likes-counter::before {
	content: url(../icons/page3/likes.png);
	margin-right: 10px;
}

.aside-input {
	width: 100%;
	padding: 15px;
	border: 1px solid $asideBackgroundColor;
	box-sizing: border-box;
	background: url(../icons/page3/search.png) no-repeat;
	background-position: 95% 50%;
	background-color: $asideBackgroundColor;
	@include paragraphStyle(12px, $paragraphColorMain);
}

.aside-menu {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid $asideBackgroundColor;
	display: flex;
	justify-content: space-around;
}

.aside-menu-item {
	@include paragraphStyle(12px, $listColor);
	text-transform: $titleTextTransform;
	font-weight: 700;
}

.aside-menu-item:hover {
	color: $titleColorMain;
}

.aside-title {
	margin: 50px 0 30px;
	font-size: $textFontSize;
}

.aside-gallery {
	display: grid;
	grid-template-columns: 82px 1fr;
	grid-template-rows: repeat(3, 81px);
	grid-gap: 10px;
}

.gallery-date {
	@include paragraphStyle(12px, $footerColor);
}

.gallery-title {
	margin: 15px 0 8px;
	font-size: $textFontSize;
}

.aside-list-item {
	margin: 0;
	@include paragraphStyle($textFontSize, $paragraphColorMain);
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.aside-list-wrapper {
	padding-left: 16px;
	display: grid;
	grid-template-columns: 112px 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 40px 100px;
}

.aside-tag-list {
	margin: 5px;
	padding: 5px;
	box-sizing: border-box;
	@include paragraphStyle(12px, $listColor);
	text-transform: $titleTextTransform;
	font-weight: 700;
	background-color: #e5e5e5;
}

.aside-tag-wrapper {
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
}